{% extends 'base.html' %}

{% block body %} 

<form method="POST" action="/predict" enctype="multipart/form-data">

    <div style="text-align:center">
        <input type="file"  name="input_file1" aria-label="ファイルの選択">
        <label>
            <input type="radio"  name="input_label1" value="0">
            0
        </label>
        <label>
            <input type="radio"  name="input_label1" value="1">
            1
        </label>
        <label>
            <input type="radio"  name="input_label1" value="2">
            2
        </label>
        <label>
            <input type="radio"  name="input_label1" value="3">
            3
        </label>
        <label>
            <input type="radio"  name="input_label1" value="4">
            4
        </label>
        <label>
            <input type="radio"  name="input_label1" value="5">
            5
        </label>
        <label>
            <input type="radio"  name="input_label1" value="6">
            6
        </label>
        <label>
            <input type="radio"  name="input_label1" value="7">
            7
        </label>
        <label>
            <input type="radio"  name="input_label1" value="8">
            8
        </label>
        <label>
            <input type="radio"  name="input_label1" value="9">
            9
        </label>
        <input type="submit" value="学習する">
    </div>

    <div style="text-align:center">
        <input type="file"  name="input_file2" aria-label="ファイルの選択">
        <label>
            <input type="radio"  name="input_label2" value="0">
            0
        </label>
        <label>
            <input type="radio"  name="input_label2" value="1">
            1
        </label>
        <label>
            <input type="radio"  name="input_label2" value="2">
            2
        </label>
        <label>
            <input type="radio"  name="input_label2" value="3">
            3
        </label>
        <label>
            <input type="radio"  name="input_label2" value="4">
            4
        </label>
        <label>
            <input type="radio"  name="input_label2" value="5">
            5
        </label>
        <label>
            <input type="radio"  name="input_label2" value="6">
            6
        </label>
        <label>
            <input type="radio"  name="input_label2" value="7">
            7
        </label>
        <label>
            <input type="radio"  name="input_label2" value="8">
            8
        </label>
        <label>
            <input type="radio"  name="input_label2" value="9">
            9
        </label>
        <input type="submit" value="学習する">
    </div>

    <div style="text-align:center">
        <input type="file"  name="input_file3" aria-label="ファイルの選択">
        <label>
            <input type="radio"  name="input_label3" value="0">
            0
        </label>
        <label>
            <input type="radio"  name="input_label3" value="1">
            1
        </label>
        <label>
            <input type="radio"  name="input_label3" value="2">
            2
        </label>
        <label>
            <input type="radio"  name="input_label3" value="3">
            3
        </label>
        <label>
            <input type="radio"  name="input_label3" value="4">
            4
        </label>
        <label>
            <input type="radio"  name="input_label3" value="5">
            5
        </label>
        <label>
            <input type="radio"  name="input_label3" value="6">
            6
        </label>
        <label>
            <input type="radio"  name="input_label3" value="7">
            7
        </label>
        <label>
            <input type="radio"  name="input_label3" value="8">
            8
        </label>
        <label>
            <input type="radio"  name="input_label3" value="9">
            9
        </label>
        <input type="submit" value="学習する">
    </div>
</form>

{% endblock %}